body {
  background-color: var(--gray-dark);
  color: var(--gray);
  font-family: 'Proxima Nova';
  font-size: 18px;
  line-height: 1.333;
}

h1,
h2 {
  color: var(--white);
  font-family: 'Gotham';
}
